<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.7.js"></script>
    <script>
        $(document).ready(function(){
            $('button').click(function(){
                $('ul > li:eq(0)').text('click'); //0번째 li만 click으로 바뀜
                str = $('ul > li:eq(1)').text(); //값을 가져오는 것도 가능
                $('h1').text(str);
                $('ul > li:nth-child(2n)').css('color','red');
                //$('ul > li:even').css('color','green');
                $('ul > li:not(li:eq(1))').css('color','white');
            });


        });

    </script>
</head>
<body>
    <h1></h1>
    <button>Click</button>
    <ul>
        <li>Menu1</li>
        <li>Menu2</li>
        <li>Menu3</li>
        <li>Menu4</li>
        <li>Menu5</li>

    </ul>

</body>
</html>