<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

      var st; // 전역변수로 만들어야 function()밖에서도 사용 가능

      window.onload = function(){
          st = setInterval(function(){
          var d = new Date();
          document.querySelector('#hh1').innerHTML = d.toString(); //날짜를 스트링으로 바꾸어 innerHTML로 추가

        },1000); // 1초에 한번씩 첫번째 인자로 넣어준 함수를 실행한다
      };

      function stopst(){
            clearInterval(st);
        };


    </script>

</head>
<body>
  <button onclick="stopst();">STOP</button>
  <h1 id="hh1">TIME</h1>

</body>
</html>